<html>
 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
	
    <link rel="stylesheet" href="/css/foundation.css"/>
    <script src="/js/vendor/modernizr.js"></script>
  </head>

  <body class="row">
        <div class="row">
		 
             <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large" >
			    <ul class="title-area">
                     <li class="name"><h1><a href="/">My Site</a></h1></li>
     
                </ul>

			    <section class="top-bar-section">
			      <ul class="left">
				    <li><a href="#">Left Nav Button</a></li>
                  </ul>
				</section>
				<section class="top-bar-section">
                   <ul class="right">
                   
                     <li class="has-dropdown"><a href="cart">Cart</a>
                       <ul class="dropdown">
                        <li><div  style="color:white;">asljflkasjflkajsf</div></li>
                    
                      </ul>
                    </li>
                  </ul>
              </section>
            </nav>
  
		</div>

	
	<div class="row" style="margin-top:25px;">   
	  
Shopping Cart
Your Shopping Cart is empty.

	</div>
 
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/fastclick.js"></script> 
<script src="/js/foundation.min.js"></script>





<script language="javascript">
$(document).foundation();
</script>
   
  </body>
</html>