<html>
 <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
	
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/vendor/modernizr.js"></script>
  </head>

  <body class="row">
   <div class="large-8 small-centered columns">
   
    <h2 class="text-center">Admin panel - goods</h2>
   

   <nav class="breadcrumbs">
      <a href="admin">DASHBOARD</a>
      <a href="items">ITEMS</a>
      <a href="orders">ORDERS</a>
	  <a href="clients">CLIENTS</a>
	  <a href="options">OPTIONS</a>
      
  

   </nav>



    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>
	
	
	

   </div>
  </body>
</html>
